@mixin custom-style($bk-color: null, $font-color: null, $border-color: null) {
  @if $bk-color != null {
    background-color: $bk-color;
  }

  @if $font-color != null {
    color: $font-color;
  }

  @if $border-color != null {
    border-color: $border-color !important;
  }
}
