@use "./variables.scss" as *;

.about-company {
  padding: 30px 0;
  background-color: #302219;
  .card {
    background-color: #342019;
    border: 1px solid $wheat-color;
    border-radius: 20px;
    height: 453px;
    .card-body {
      .card-title {
        color: $secondary-color;
      }
      .card-text {
        color: #e0e0e0;
        opacity: 0.7;
        font-size: 15px;
        line-height: 1.7;
      }
      .btn-about {
        display: flex;
        width: fit-content;
        border-radius: 50px;
        background-color: $secondary-color;
        color: $main-color;
        transition: all 0.3s ease-in;

        &:hover {
          color: $secondary-color;
          background-color: $main-color;
          border: 1px solid $wheat-color;
        }
      }
    }
  }
  .company-logo {
    width: 70%;
    height: 95%;
    opacity: 0.7;
  }
}

.company-info {
  background-color: #211712;
  .map {
    iframe {
      height: 200px;
      width: 90%;
    }
  }
  .info {
    color: $secondary-color;
    span {
      color: $wheat-color;
    }
  }
  .contact {
    h5 {
      color: $secondary-color;
      font-size: 26px;
    }
    form {
      width: 60%;
      margin: auto;
      input,
      textarea {
        &:focus {
          box-shadow: 0 0 0 0.25rem #f5deb2;
          border: 1px solid $wheat-color;
        }
      }
      button {
        background-color: $secondary-color;
        color: $main-color;
        border: 1px solid $wheat-color;
        font-size: 15px;
        padding: 10px 30px;
        border-radius: 3px;
        width: auto;
        margin-right: 12px;
        transition: all 0.3s ease-in;
        &:hover {
          background-color: transparent;
          color: $secondary-color;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

/* ------ Responsive ------ */

@media (max-width: 991.98px) {
  .company-info {
    .contact {
      form {
        width: 80%;
      }
    }
    .map {
      iframe {
        width: 100%;
      }
    }
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .about-company {
    .card {
      .card-body {
        .card-text {
          font-size: 14px;
        }
      }
    }
    .company-logo {
      width: 100%;
    }
  }
}
