@use "./variables.scss" as *;

.comments {
  background-color: #211712;
  .card {
    background-color: transparent;
    border: 0;
    img {
      width: 70px;
      height: 70px;
      border: 1px solid $wheat-color;
    }
    .card-body {
      .card-title,
      .date {
        color: $secondary-color;
      }
      .card-title {
        font-size: 17px;
      }
      .card-text {
        color: #e0e0e0;
        opacity: 0.7;
        font-size: 14px;
      }
      .rating {
        color: #c2c2c2;
        .active {
          color: #f3af41;
        }
      }
    }
  }
}

.similar-products {
  .card {
    .card-img {
      .img-nescafe {
        background-image: url("../images/products/nescafe.jpg");
      }
      .img-tea {
        background-image: url("../images/products/tea.jpg");
      }
      .img-latte {
        background-image: url("../images/products/latte.jpg");
      }
    }
  }
}

header.carousel-product {
  background-color: #271d15;
  padding: 30px 0 20px;
  #carousel-product-images {
    .carousel-indicators {
      position: relative;
      // top: 92%;
      // top: 103%;
      // right: 0;
      margin-top: 15px;
      border-radius: 50% !important;
    }
    .carousel-item {
      img {
        width: 100%;
        height: auto;
        border: 1px solid $wheat-color;
        border-radius: 20px;
      }
    }
  }
  #form-product-selection {
    h2 {
      margin: 18px 0;
      color: $secondary-color;
    }
  }
  .product-description {
    color: #e0e0e0;
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.6;
  }
  .price.large {
    font-size: 30px;
    margin-top: 20px;
    color: $wheat-color;
  }
  // .borders-between {
  //   > div {
  //     + {
  //       div {
  //         border-top: 1px solid #ebebeb;
  //         padding: 15px 0;
  //       }
  //     }
  //   }
  // }

  .product-quantity {
    color: $secondary-color;
    select {
      height: 45px !important;
      padding: 6px 12px;
      margin-right: 5px;
      width: 20%;
      border-radius: 10px;
    }
  }

  .comments {
    .comment {
      img {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        border: 1px solid #dfdfdf;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }

  .custom-carousel-indicators-primary {
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #dddddb !important;
    margin: 0 !important;
    margin-left: 5px !important;
    border-radius: 10px;
  }
  .custom-carousel-indicators-primary.active {
    border-color: $wheat-color !important;
  }
}
