@use "./variables.scss" as *;
@use "./about.scss";
@use "./distributors.scss";
@use "./products.scss";

@font-face {
  font-family: "cairoFont";
  src: url(../fonts/Cairo-Regular.ttf);
}

* {
  scroll-behavior: smooth;
}

*::selection {
  background-color: $wheat-color;
  color: $main-color;
}

body {
  font-family: "cairoFont", "Cambria", "Cochin", "Georgia", "Times",
    "Times New Roman", "serif" !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-x: hidden;
}

nav {
  background-color: $main-color;
  // border-bottom: 2px solid #4f3728;
  border-bottom: 1px solid $wheat-color;
}

.navbar-brand {
  img {
    width: 50px;
  }

  span {
    color: $secondary-color;
    font-size: 24px;
  }
}

.navbar {
  .navbar-toggler {
    color: $secondary-color;
    font-size: 17px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $secondary-color;
        font-size: 17px;
        padding: 8px 12px;
        border-radius: 50px;
        transition: all 0.3s ease-in;
        &:hover {
          background-color: $secondary-color;
          color: $main-color;
        }
      }
      .active {
        background-color: $secondary-color;
        color: $main-color;
      }
      &:last-child {
        width: fit-content;
      }
    }
  }
}

.carousel-top {
  .row {
    display: block !important;
    .carousel-control-next,
    .carousel-control-prev {
      height: fit-content;
      margin: auto;
      &:hover {
        color: $wheat-color;
      }
    }
  }

  .carousel {
    .carousel-item {
      img {
        height: 460px;
      }

      .overlay {
        position: absolute;
        background-color: rgba(57, 39, 25, 0.5);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }

    .carousel-indicators {
      li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 20px 5px 0px 0px;
        // background-color: $secondary-color;
        &.active {
          background-color: $wheat-color;
        }
      }
    }

    .carousel-caption {
      h1 {
        font-weight: bold;
        color: $secondary-color;
        margin-bottom: 25px;
        line-height: 1.5;
      }

      h4 {
        width: 60%;
        color: $secondary-color;
        line-height: 1.5;
      }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 1.5rem;
    }
  }
}

section {
  padding: 30px 0;
  .container {
    h4 {
      font-weight: 500;
      font-size: 26px;
      color: $secondary-color;
      margin-bottom: 40px;
    }
  }
}

.features {
  background-color: #211712;
  .card {
    background-color: #1d1412;
    border: 2px solid $main-color;
    border-radius: 7px;
    padding: 5px;
    // position: relative;
    height: 123px;
    .num-section {
      opacity: 0;
      display: flex;
      align-items: center;
      width: fit-content;
      transition: all 0.5s ease-in;
      .num-container {
        background-color: #342b29;
        text-align: center;
        border-radius: 50%;
        // height: 130px;
        // width: 130px;
        height: 90px;
        width: 90px;
        span {
          color: #ffffff;
          // font-size: 85px;
          font-size: 60px;
        }
      }
    }
    .icon {
      position: absolute;
      // left: -26px;
      left: -15px;
      color: $wheat-color;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
    }
    .card-body {
      .card-title {
        color: $secondary-color;
      }
      .card-text {
        color: #e0e0e0;
        opacity: 0.7;
        font-size: 15px;
      }
    }
  }
}

.btn-product {
  display: flex;
  width: fit-content;
  border-radius: 50px;
  background-color: $secondary-color;
  color: $main-color;
  transition: all 0.3s ease-in;
  box-shadow: none !important;

  &:hover {
    color: $secondary-color !important;
    background-color: $main-color !important;
    border: 1px solid $wheat-color;
  }
  &:active {
    border: 1px solid $wheat-color;
    box-shadow: none;
  }
}

.products,
.similar-products {
  background-color: #271d15;
  .card {
    border-radius: 20px;
    background-color: #2a2016;
    padding: 1px;
    border: 1px solid $wheat-color;
    margin-bottom: 15px;
    .card-img {
      width: 100%;
      height: 240px;

      .img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: all 0.5s ease;
      }
      .img-1 {
        background-image: url("../images/product-1/1.jpg");
      }
      .img-2 {
        background-image: url("../images/product-2/1.jpg");
      }
      .img-3 {
        background-image: url("../images/product-3/1.jpg");
      }
    }
    .card-body {
      .card-title {
        color: $secondary-color;
      }
      .card-text {
        color: #e0e0e0;
        opacity: 0.7;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.social-title-and-icons,
.mail-messages {
  h5 {
    font-size: 23px;
    color: $secondary-color;
  }
}

.footer {
  .social-media {
    padding: 30px 0;
    background-color: #1d1410;
    .social-title-and-icons {
      h5 {
        margin-bottom: 25px;
      }
      .list-inline {
        margin-right: 22px;
        .list-inline-item {
          a {
            display: inline-block;
            font-size: 23px;
            height: 55px;
            width: 55px;
            line-height: 55px;
            border-radius: 50%;
            background-color: $wheat-color;
            color: #392719;
            text-align: center;
            transition: all 0.3s ease-in;
            border: 1px solid $wheat-color;
            &:hover {
              color: $secondary-color;
              background-color: transparent;
            }
          }
        }
      }
    }
    .mail-messages {
      h5 {
        margin-bottom: 35px;
      }
      input {
        border-radius: 3px;
        // width: 60%;
        width: 300px;
        margin-left: 6px;
        &:focus {
          box-shadow: 0 0 0 0.25rem #f5deb2;
          border: 1px solid $wheat-color;
        }
      }
      .invalid-feedback {
        position: absolute;
        bottom: -26px;
        text-align: right;
      }
      button {
        background-color: $secondary-color;
        color: $main-color;
        border: 1px solid $wheat-color;
        border-radius: 3px;
        transition: all 0.3s ease-in;
        &:hover {
          background-color: transparent;
          color: $secondary-color;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .copyright {
    background-color: #1d1412;
    padding: 20px 0;
    h5 {
      font-size: 18px;
      color: $secondary-color;
    }
  }
}

/* ------ Responsive ------ */
@media (max-width: 991.98px) {
  .social-title-and-icons,
  .mail-messages {
    h5 {
      font-size: 21px;
    }
  }
  .footer {
    .social-media {
      .social-title-and-icons {
        h5 {
          margin-bottom: 29px;
        }
        .list-inline {
          .list-inline-item {
            a {
              font-size: 18px;
              height: 45px;
              width: 45px;
              line-height: 45px;
            }
          }
        }
      }
      .mail-messages {
        input {
          width: 247px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .products,
  .similar-products {
    .card {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer {
    .social-media {
      .mail-messages {
        h5 {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .products,
  .similar-products {
    .card {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .carousel-top {
    .carousel {
      .carousel-caption {
        h4 {
          width: 70%;
        }
      }
    }
  }

  .features {
    .card {
      .num-section {
        .num-container {
          height: 80px;
          width: 80px;
          span {
            font-size: 50px;
          }
        }
      }

      .card-body {
        .card-title {
          font-size: 18px;
        }
        .card-text {
          font-size: 14px;
        }
      }
      .icon {
        left: 5px;
      }
    }
  }
}
